:root {
  --text-color: #000;
  --background-color: #fff;
  --toggle-bg-color: #000;
}

body {
  font-family: system-ui;
  background: var(--background-color);
  color: var(--text-color);
  transition: 0.3s linear;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

#content {
  font-size: 2rem;
}
